*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1100px;
    height: 100%;
    margin: 0 170px;
}
    /* <!-- ================= navbar start ================= --> */
.navbar{
    width: 1440px;
    height: 180px;
    margin: 0 auto;
    
}
    /* <!-- ================= navbar top start ================= --> */
.navbar_top{
    width: 1440px;
    height: 80px;
    background: linear-gradient(90.09deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.navbar_top_text{
    width: 166px;
    height: 33px;
    font-size: 16px;
    font-weight: 400;
}

    /* <!-- ================= navbar bottom start ================= --> */
.navbar_bottom{
    width: 1440px;
    height: 100px;
    background-color: black;
}
.navbar_cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar_bottom_logo{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar_title_box{
    width: 90px;
    height: 103px;
    
    
}
.navbar_logo_title{
    width: 90px;
    height: 15px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 55px;
}
.navbar_bottom_lists{
    width: 320px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar_bottom_link:hover{
    color: #ED8E00;
}
.navbar_bottom_link{
    color: white;
    transition: 0.5s;
}



    /* <!-- ================= navbar end ================= --> */

    /* <!-- ================= header start ================= --> */
.header{
    width: 1440px;
    height: 640px;
    margin: 0 auto;
    padding: 0 15px;
}
    /* <!-- ================= header end ================= --> */

    /* <!-- ================= main start ================= --> */
.main{
    width: 1440px;
    height: 2530px;
    background-color: #040D1F;
    margin: 0 auto;
    padding: 0 15px;
}
    /* <!-- ================= main end ================= --> */

    /* <!-- ================= footer start ================= --> */
.footer{
    width: 1440px;
    height: 80px;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    margin: 0 auto;
    padding: 0 15px;
}
    /* <!-- ================= footer end ================= --> */
