*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1100px;
    height: 100%;
    margin: 0 170px;
    padding: 0 15px;
}
.body{
    width: 1440px;
    background-color: #000000;
}
    /* <!-- ================= navbar start ================= --> */
.navbar{
    width: 1440px;
    height: 180px;
    margin: 0 auto;
    background-color: black;
    
}
    /* <!-- ================= navbar top start ================= --> */
.navbar_top{
    width: 1440px;
    height: 80px;
    background: linear-gradient(90.09deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.navbar_top_text{
    width: 166px;
    height: 33px;
    font-size: 16px;
    font-weight: 400;
}

    /* <!-- ================= navbar bottom start ================= --> */
.navbar_bottom{
    width: 1440px;
    height: 100px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.822) 0%, rgba(0, 0, 0, 0.863) 100%);
    position: fixed;
    z-index: 10;
}
.navbar_cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar_bottom_logo{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar_title_box{
    width: 90px;
    height: 103px;
    
    
}
.navbar_logo_title{
    width: 90px;
    height: 15px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 55px;
}
.navbar_bottom_lists{
    width: 320px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar_bottom_link:hover{
    color: #ED8E00;
}
.navbar_bottom_link{
    color: white;
    transition: 0.5s;
}



    /* <!-- ================= navbar end ================= --> */

    /* <!-- ================= header start ================= --> */
.header{
    width: 1440px;
    height: 640px;
    margin: 0 auto;
    position: relative;
}
.header_img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.header_parda1{
    width: 100%;
    height: 100%;
    background-color: #070F19BF;
    position: absolute;
}
.header_parda2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.header_parda_title{
    width: 600px;
    height: 65px;
    top: 363px;
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.header_parda_text{
    width: 570px;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    color: #C8C8C8;
}
.header_parda_btn{
    width: 165px;
    height: 45px;
    border: 1px solid #00000033;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    background-color: #F18128;
}
    /* <!-- ================= header end ================= --> */

    /* <!-- ================= main start ================= --> */
.main{
    width: 1440px;
    height: 2530px;
    background-color: #040D1F;
    margin: 0 auto;
    padding: 60px 0;
}
    /* <!-- ================= main Films start ================= --> */
.main_films_title{
    width: 100px;
    height: 35px;
    color: #F18128;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
}
.main_title_box{
    width: 95px;
    height: 3px;
    background-color: #F18128;
    margin-bottom: 55px;
}
.main_films_cards{
    width: 1100px;
    height: 280px;
    display: flex;
    gap: 25px;
}
.main_films_card{
    width: 255px;
    height: 360px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    
}
.main_films_img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.daraja_quti{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    color: white;
    background-color: #643d027c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
}

.time_box{
    width: 100px;
    height: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_films_name{
    width: 160px;
    height: 27px;
    color: white;
    
}
.main_films_text{
    width: 226px;
    height: 141px;
    color: white;
    
}


    /* <!-- ================= main Widow start ================= --> */
.main_marvel_box{
    width: 1440px;
    height: 500px;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}
.main_marvel_img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.main_marvel_parda{
    width: 70%;
    height: 100%;
    padding-left: 160px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);

}
.marvel_logo_img{
    width: 445px;
    height: 99px;

}
.main_marvel_text{
width: 558px;
height: 127px;
}
.main_marvel_btn{
    width: 166px;
    height: 46px;
    background-color: #F18128;
}

    /* <!-- ================= main Collections start ================= --> */
.main_Collections_box{
    width: 1100px;
    height: 270px;
    margin-top: 60px;
}
.main_Collections_cards{
    width: 1100px;
    height: 288px;
    display: flex;
    gap: 30px;
}
.main_Collections_cinema{
    width: 350px;
    height: 193px;
    position: relative;
}
.main_Collections_img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    position: absolute;
}
.main_Collections_parda{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    gap: 30px;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    padding: 5px;
}
.chekka_quti{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kvadratlar{
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-color: #040D1F;
}
.main_Collections_card{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}


    /* <!-- ================= main Series start ================= --> */
.main_Series_box{
    width: 1100px;
    height: 970px;
    margin-top: 50px;
}
.main_Series_card11{
    width: 1100px;
    height: 420px;
    position: relative;
}
.main_Series_card1{
    width: 1100px;
    height: 420px;
    position: relative;
    display: flex;
    gap: 20px;
}
.main_Series_card1_img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
}
.main_Series_card1_parda{
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(16, 52, 61, 0.466) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.main_Series_card1_title{
    width: 360px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
}
.main_Series_card1_text{
    width: 1070px;
    height: 90px;
    font-size: 16px;
    font-weight: 400;
}
.main_Series_card1_btn{
    width: 160px;
    height: 46px;
    background-color: #F18128;
    border-radius: 6px;
}
.main_Series_card2{
    width: 540px;
    height: 440px;
    margin-top: 20px;
    position: relative;
    
}
.main_Series_card22{
    width: 540px;
    height: 460px;
    margin-top: 20px;
    position: relative;
    display: flex;
    gap: 20px;
    
}
.main_Series_card2_img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
}
.main_Series_card{
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(16, 52, 61, 0.466) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.main_Collections_name{
    width: 178px;
    height: 25px;
    font-size: 24px;
    font-weight: 700;
}
.main_Collections_card3{
    width: 270px;
    height: 460px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.main_Collections_card4{
    width: 250px;
    height: 190px;
    border-radius: 4px;
    position: relative;

}


    /* <!-- ================= main end ================= --> */

    /* <!-- ================= footer start ================= --> */
.footer{
    width: 1440px;
    height: 80px;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    margin: 0 auto;
    padding: 0 15px;
}
.footer_img{
    width: 100%;
    height: 100%;
}
    /* <!-- ================= footer end ================= --> */
